// Definindo variáveis de cor
$cor-primaria: #3498db;
$cor-secundaria: #2ecc71;
$cor-texto: #000; // Cor do texto principal
$cor-fundo-header: url(/dist/image/capa/video-1668906_1280.jpg); // URL da imagem de fundo do header e do footer

// Definindo variáveis de espaçamento
$espacamento-padrao: 10px;
$espacamento-formulario: 1.5rem;

// Definindo variáveis de fonte
$tamanho-h1: 60px;
$tamanho-h1-contato: 1.5rem;
$tamanho-paragrafo: 1rem;
$tamanho-footer: 20px;

// Outras variáveis conforme necessário


