@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'header';
@use 'carousel';
@use 'contato';
@use 'footer';



@font-face{
    font-family: Avenir;
    src: url(../../assets/Avenir-Regular.wolf2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/Avenir-Bold.wolf2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
 }

 